body {
  background-image: url(images/IMG_1811.JPG);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.nav-item:hover {
  border-bottom-width: 1px !important;
  border-bottom-style: solid;
  border-bottom-color: #bbbbbb;
}

h2 {
  text-align: center;
  display: block;
}

#home {
  height: 420px;
  width: 100%;
}

.intro {
  position: absolute;
  top: 20vh;
  left: 30vw;
  margin: 0 auto;
  font-size: 2rem;
}

#about,
#skills,
#projects,
#hobbies,
#contact {
  padding: 15px;
  background: hsla(0, 0%, 100%, 0.87);
  margin-bottom: 100px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.about > p,
.hobbies > p {
  line-height: 1.8;
  padding: 75px;
}

.img {
  height: 300px;
}

#contact {
  margin-bottom: 0px;
}

.card {
  margin: 20px;
}

li > img {
  margin-right: 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px;
  opacity: 1;
}

fieldset {
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  margin: 10 auto;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

legend {
  padding: 6px;
  text-align: center;
}

figure {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  margin: 10px;
  align-items: center;
}

figure > img {
  text-align: center;
  margin: 0 auto;
}

figcaption {
  padding: 10px;
}

.carousel.slide > .carousel-inner > .carousel-item > img {
  width: 640px;
  height: 360px;
}
